* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	background: #f8f8f8;
}

.container {
	margin-top: 20px;
	margin-right: 450px;
	margin-left: 450px;
}

.main-title {
	font-size: 58px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

.create-notes {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.create-notes_label {
	font-size: 20px;
	color: rgb(110, 110, 110);
	margin-bottom: 5px;
}

.create-notes_block {
	display: flex;
	gap: 10px;
}

.create-notes_block__input {
	padding: 4px 10px;
	border-radius: 15px;
	font-size: 20px;
	width: 100%;
}

.create-notes_block__btn {
	background: #ffffff;
	font-size: 15px;
	border-radius: 15px;
	padding: 10px 20px;
	cursor: pointer;
}
.create-notes_block__btn:hover {
	background: #333333;
	color: #ffffff;
	transition: all 0.3s ease-in-out;
}
.create-notes_block__btn:active {
	transform: translateY(0.5px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
}

.notes-block {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.notes-block_label {
	font-size: 20px;
	color: rgb(110, 110, 110);
}

.notes-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.notes-list__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid gray;
	padding: 10px 15px;
	border-radius: 15px;
	font-size: 20px;
	background: #ffffff;
	animation: fadeIn 0.3s ease;
	transition: all 0.3s ease-in-out;
}

.notes-list__item:hover {
	background: #d4d4d4;
	transition: all 0.3s ease-in-out;
}

.item__actions {
	display: flex;
	gap: 10px;
}

.delete_action {
	background: #d4d4d4;
	padding: 5px 15px;
	border-radius: 8px;
	cursor: pointer;
}

.delete_action:hover {
	background: #ff3232;
	transition: all 0.3s ease-in-out;
}
.delete_action:hover img {
	filter: invert(100%);
	transition: all 0.3s ease-in-out;
}

.change_action {
	background: #d4d4d4;
	padding: 5px 15px;
	border-radius: 8px;
	cursor: pointer;
}

.change_action:hover {
	background: #ffffff;
	transition: all 0.3s ease-in-out;
}
.change_action:hover img {
	transition: all 0.3s ease-in-out;
}

.empty-block {
	border: 2px solid gray;
	background-color: #ffffff;
	border-radius: 15px;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	height: 200px;
	bottom: black;
}

.empty-block:hover {
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
	transition: all 0.3s ease;
}

.empty-block_title {
	font-size: 25px;
	margin-bottom: 10px;
}

.empty-block_subtitle {
	font-weight: 600;
	font-size: 15px;
	color: rgb(110, 110, 110);
}

.fade-out {
	animation: fadeOut 0.3s ease;
	transition: all 0.3s ease-in-out;
}

img {
	width: 20px;
	height: 20px;
}

ul {
	list-style: none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-10px);
	}
}
